

<br><br><br>b
<div class="container mt-5">
    <h1 class="text-center mb-4 custom-heading">Add Category</h1>

    <form #form="ngForm" (ngSubmit)="onFormSubmit()" class="p-4 border rounded shadow-sm bg-light mx-auto" style="max-width: 400px;">
  
        <!-- CategoryNameInput -->       
        <div class="mb-3">
            <label for="CategoryNameInput" class="form-label fw-bold">Category Name</label>
            <input type="text" class="form-control" id="categoryName" 
            placeholder="Enter category name"   
            name="categoryName"  
            [(ngModel)]="model.name"> 
        </div>

        <!-- CategoryURLHandleInput -->
        <div class="mb-3">
            <label for="CategoryURLHandleInput" class="form-label fw-bold">Category URL Handle</label>
            <input type="text" class="form-control" id="CategoryURLHandle" 
            placeholder="Enter category URL handle"
            name="CategoryURLHandle"  
            [(ngModel)]="model.urlHanlde">
        </div>
        <!-- Button  -->
        <button type="submit" class="btn custom-btn w-100">Submit</button>
    </form>

</div>

    <!-- placeholder="Enter category name" -->